.navigation {
  display: flex;

  .nav-list__studio.current {
    color: var(--blue-color);
  }
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;

  > .nav-list__link {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav-list__link {
  display: block;
}

.nav-list__studio {
  position: relative;
  text-decoration: none;
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  transition: color 250ms var(--cubic-bezier);

  &.current {
    &::after {
      margin-top: 32px;
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
    }
  }
  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}

.contact-list > .contact-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
/* Портфолио */

.nav-list__portfolio.current {
  &::after {
    margin-top: 32px;
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}
.navigation .nav-list__portfolio.current {
  color: var(--blue-color);
}

.nav-list__portfolio {
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  position: relative;
  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}

/* Контакты */

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list__contact {
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
}

/* почта */

.contact-item__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-item__mail {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}

/* телефон */

.contact-item__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-item__tel {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }
}
